@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Signika Negative';
	color: #eee;
	user-select: none;
}
html,
body {
	overflow: hidden;
}
h1 {
	font-size: 2.3rem;
}
button {
	background-color: transparent;
	border: none;
}
/* html{
    font-size:62.5%;
} */

@keyframes button-pop {
	0% {
		transform: scale(0.93);
	}
	40% {
		transform: scale(1.02);
	}
	100% {
		transform: scale(1);
	}
}

/* scrollbar */
::-webkit-scrollbar {
	width: 0.5rem;
	border-radius: 0.5rem;
	background-color: rgb(41, 37, 35);
}
::-webkit-scrollbar-thumb {
	background-color: rgb(59, 59, 59);

	border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgb(41, 37, 35);
}

.red-span {
	color: rgb(228, 55, 55);
	font-weight: 400;
}

/* pc responsive */
@media (orientation: landscape) and (min-width: 1024px) and (max-width: 1180px) and (min-height: 520px) and (max-height: 759px) {
	html {
		font-size: 78%;
	}
}
@media (orientation: landscape) and (min-width: 1181px) and (max-width: 1449px) and (min-height: 520px) and (max-height: 759px) {
	html {
		font-size: 88%;
	}
}
@media (orientation: landscape) and (min-width: 1450px) and (max-width: 1679px) {
	html {
		font-size: 100%;
	}
}
@media (min-width: 1280px) and (max-width: 1679px) and (min-height: 760px) and (max-height: 1100px) {
	html {
		font-size: 106%;
	}
}
@media (min-width: 1680px) and (max-width: 1919px) {
	html {
		font-size: 120%;
	}
}
@media (min-width: 1920px) and (max-width: 2199px) {
	html {
		font-size: 130%;
	}
}
@media (min-width: 2200px) and (max-width: 2649px) {
	html {
		font-size: 190%;
	}
}
@media (min-width: 2650px) {
	html {
		font-size: 280%;
	}
}

/* mobile responsive */
@media (orientation: portrait) {
	html {
		font-size: 71%;
	}
}
@media (orientation: portrait) and (min-width: 650px) {
	html {
		font-size: 120%;
	}
}
@media (orientation: portrait) and (max-width: 320px) {
	html {
		font-size: 60%;
	}
}
