@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Signika Negative';
	color: #eee;
	user-select: none;
}
h1 {
	font-size: 2.3rem;
}
button {
	background-color: transparent;
	border: none;
}
/* html{
    font-size:62.5%;
} */

@keyframes button-pop {
	0% {
		transform: scale(0.93);
	}
	40% {
		transform: scale(1.02);
	}
	100% {
		transform: scale(1);
	}
}

/* scrollbar */
::-webkit-scrollbar {
	width: 0.5rem;
	border-radius: 0.5rem;
	background-color: hsl(22, 8%, 10%);
}
::-webkit-scrollbar-thumb {
	border-radius: 0.5rem;
	background-color: hsl(22, 8%, 15%);
}
::-webkit-scrollbar-thumb:hover {
	background-color: hsl(22, 8%, 20%);
}

/* responsive */
/* @media (min-width: 1024px) and (max-width: 1500px) {
	html {
		font-size: 85%;
	}
} */
/* @media (min-width: 1024px) {
	html {
		font-size: 85%;
	}
} */

.red-span {
	color: rgb(228, 55, 55);
	font-weight: 400;
}
